[Unit]
Description=Local mount unit for synology-syn02
After=network.target local-fs.target
ConditionPathExists=/mnt/synology/syn02
ConditionPathIsMountPoint=!/mnt/synology/syn02

[Mount]
What=synology.home:/volume2/syn02
Where=/mnt/synology/syn02
Type=nfs
Options=rw,nosuid,soft,nfsvers=4,noacl,async,nocto,nconnect=16,_netdev,timeo=3,retrans=2,bg

[Install]
WantedBy=multi-user.target
