[Unit]
Description=Local mount unit for synology-shared
After=network.target local-fs.target
ConditionPathExists=/mnt/synology/shared
ConditionPathIsMountPoint=!/mnt/synology/shared

[Mount]
What=synology.home:/volume2/shared
Where=/mnt/synology/shared
Type=nfs
Options=rw,nosuid,soft,nfsvers=4,noacl,async,nocto,nconnect=16,_netdev,timeo=3,retrans=2,bg

[Install]
WantedBy=multi-user.target
